body{
    background-color: black;
    color: white;
}

table{
    font-size: 5rem;
    margin-left: 15rem;
    justify-content: center;
    border: 2px solid rgb(255, 255, 255);
}
a{
    font-size: 3rem;
}

footer{
    text-align: center;
}